/*        global            */

* {
    font-weight: 300;
    font-family: 'Public Sans';
    list-style-type: none;
}

button {
    width: 170px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));

    border: none;
}

p {
    color: hsl(216, 3%, 61%);
}


body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    Font-size: 18px
}

/*                          header                       */

header {

    flex-grow: 1;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color:white;
    border: 1px solid rgb(246, 245, 245);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    flex-basis: 20%;
    height: 20%;
}

.hamburger {

    align-self: stretch;
    display: flex;
    justify-content: space-around;
}

.hamburger ul {
    margin: 0;
    list-style-type: none;
    column-gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: hsl(225, 2%, 52%);
    text-decoration: none;
}

.hamburger li {
    height: 100%;
    display: flex;
    align-items: center;
}

.hamburger li:hover {
    border-bottom: 2px solid rgb(47, 252, 255);
}

.request-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-icon{
    all:unset;
    display: none;
}

#cross-div{
    display: none;
}
#cross-button{
    all:unset
}

/*             main-container                     */

.main-container {
    flex-grow: 7;
    display: flex;
    flex-direction: column;

}

/* intro-section */


.intro-section {
    flex-grow: 1;
    display: flex;
    height: 60vh;
  
    
}

.intro-description {
    margin-left: 10%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;


}

.intro-description h1 {
    margin: 0;
    font-size: 400%;
}

.intro-description p {
    font-size: 200%;


}


.intro-images {

    align-self: stretch;
    width: 60%;
    background-image: url('images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;

    background-size: 113%;

    display: flex;
    justify-content: end;

}

.intro-images img {
    width: 80%;
    height: 155%;
    clip-path: inset(20% 0 0 0);

    transform: translateY(-20%);
}

.hamberger-box {
   
    position: absolute;
    right: 50%;
   
    box-shadow: 4px 0px 30px -10px #0b103c, 10px -1px 10px 0px #0b103c;
    background-color: rgb(253, 251, 251);
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    transform: translateX(50%);
    z-index: 1;
    background-color: #fff;
    text-align: center;
    display: none;
  

}

.hamberger-box ul {
   
    font-size: 20px;
    
    height: 190px;
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
   
}
.hamberger-box ul span{
   
    font-family: solid;
    color: black;
}


/* services-section */

.services-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    background-color: hsl(0, 0%, 98%);
}

.srvices-with-icon {
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: flex;
    column-gap: 7%;
}



.question-container {
    margin-left: 10%;
    margin-right: 5%;
    align-self: flex-start;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.question-container h1 {

    font-size: 50px;
}

.question-container p {

    padding: 0;
    margin: 0;
    font-size: 1.5em;



}



/* article  */

article {
    flex-grow: 1;
    margin-bottom: 6%;
    display: flex;
    flex-direction: column;


}

.article-heading {

    display: flex;
    flex-direction: column;
    font-size: 50px;
    margin-left: 10%;

}

.articles-with-images {
    display: flex;
    column-gap: 30px;
    margin-left: 10%;
    margin-right: 5%;
}

.box-image {
    overflow: hidden;
    border-radius: 10px;
}

.box-image img {
    width: 100%;
    height: 250px;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



/*                         footer                   */

footer {
    flex-grow: 2;
    color: white;

    display: flex;
    background-color: hsl(233, 26%, 24%);
    align-items: center;
    justify-content: space-around;

}

.footer-logo {
    filter: invert(60%);

}

.logo-icons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 20%;

}

.footer-icons {

    display: flex;
    justify-content: space-around;

}

.footer-corner-div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer-services {
    display: flex;
    height: 100%;
}

.footer-services ul {

    display: flex;
    flex-direction: column;
    row-gap: 30px;

    justify-content: center;
}

a:hover {
    color: aqua;
}




  
    
   
@media (max-width:600px){
  
    /* header */
       
   
       .logo {
           /* margin-left: 10%; */
           display: flex;
           align-items: center;
   
       }
         
       .hamburger,.request-button{
           display: none;
          
          
       }
       .hamburger-icon{
        display: block;
       }
       #hamburger-button{
       
        all:unset;
        align-self: center;
        margin-top: 40px;
       
       }
       #hamburger-button img{
        width:40px;
        height:20px
       }
      
       /*  intro-section */
   
       .intro-description {
           margin: 0;
           padding: 0;
       }
       
       .intro-section{
           flex-direction: column;
           height: 80vh;
       }
   
       .intro-images {
           order: -1;
           width: 100%;
           height: 50%;
           justify-content: center;
       }
       
       .intro-images img {
           width: 80%;
           height: 150%;
          clip-path: inset(29% 0 0 0);
          transform: translateY(-30%);   
       }
       .intro-description,.intro-images{
           width: 100%;
       }
       .intro-description h1 {
           font-size: 2.5em;
       }
       .intro-description h1,.intro-description p {
           margin-left: 10%;
       }
       .intro-description p {
           font-size: 1em;    
       }
       .intro-description {
           align-items: center;
       }
       
   
   
   
       /* .services-section  */
   
   
       .srvices-with-icon{
           margin: 0;
           flex-direction: column;
           align-content: center;
         
       }
       .service-box{
           margin: 5%;
           display: flex;
           flex-direction: column;
           align-items: center;
       }
   
       /* article  */
       .articles-with-images {
           flex-direction: column;
       }
       .article-heading {
           font-size: 30px;
           align-items: center;
       }
       .articles-with-images{
           margin-left:5%;
           margin-right:5%;
       }
   
   
       /* footer */
      
       footer,.footer-services, .footer-corner-div {
          
           flex-direction: column;
           align-items: center;
       }
       .footer-icons{
           align-self: stretch;
         
       }
      
       .logo-icons{
           margin-top: 7%;
           width: 100%;
          
       }
       .footer-corner-div{
           margin-bottom: 10%;
       }
      
   }
